{% extends 'layouts/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row form-group">
                <div class="col-md-8 mb-3 mt-5">
                    <p>Old Password:</p>
                    {{ form.old_password.errors }}
                    {{ form.old_password|add_class:'form-control' }}
                </div>
                <div class="col-md-8 mb-3">
                    <p>New Password:</p>
                    {{ form.new_password1.errors }}
                    {{ form.new_password1|add_class:'form-control' }}
                </div>
                <div class="col-md-8 mb-3">
                    <p>Confirm New Password:</p>
                    {{ form.new_password2.errors }}
                    {{ form.new_password2|add_class:'form-control' }}
                </div>
            </div>
            <button class="btn btn-secondary mb-5" type="submit">Change Password</button>
            <a href="{% url 'user:profile' %}">
                <button class="btn btn-dark mb-5" type="button">Back Profile</button>
            </a>
        </form>
    </div>
{% endblock %}