{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="main-content">
        <div id="wrapper-site">
            <div id="content-wrapper">
                <div id="main">
                    <div class="page-home">
                        <nav class="breadcrumb-bg">
                            <div class="container no-index">
                                <div class="breadcrumb">
                                    <ol>
                                        <li>
                                            <a href="{% url 'home:home' %}">
                                                <span>Home</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'blog:list' %}">
                                                <span>All Blogs</span>
                                            </a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </nav>
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="sidebar-3 sidebar-collection col-lg-3 col-md-3 col-sm-4">
                                        <div class="sidebar-block">
                                            <div class="title-block">Recent Posts</div>
                                            <div class="post-item-content">
                                                {% for recent_blog in recent_blogs %}
                                                    <div>
                                                        <div class="late-item first-child">
                                                            <a href="{% url 'blog:detail' pk=recent_blog.pk %}">
                                                                <p class="content-title">{{ recent_blog.title }}</p>
                                                            </a>
                                                            <span>
                                                            <i class="zmdi zmdi-comments"></i>{{ recent_blog.comments.count }} Comments</span>
                                                            <span>
                                                            <i class="zmdi zmdi-calendar-note"></i>{{ recent_blog.created_at|date:'d M Y' }}
                                                        </span>
                                                            <p class="description">{{ recent_blog.little_about }}</p>
                                                            <p class="remove">
                                                                <a href="{% url 'blog:detail' pk=recent_blog.pk %}">READ
                                                                    MORE</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <div class="sidebar-block product-tags">
                                            <div class="title-block">
                                                Blog Tags
                                            </div>
                                            <div class="block-content">
                                                <ul class="listSidebarBlog list-unstyled">
                                                    {% for tag in tags %}
                                                        <li>
                                                            <a onclick="addUrlParameter('tag', '{{ tag.pk }}')" title="Show products matching tag Hot Trend">
                                                                {{ tag.title }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- advertising -->
                                        <div class="sidebar-block group-image-special">
                                            <div class="effect">
                                                <a href="#">
                                                    <img class="img-fluid" src="{% static 'img/blog/advertising.jpg' %}"
                                                         alt="banner-2"
                                                         title="banner-2">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-lg-9 col-md-9 flex-xs-first main-blogs">
                                        <h3>{{ object.title }}</h3>
                                        <div class="hover-after">
                                            <img src="{{ object.banner.url }}" alt="img" class="img-fluid w-100">
                                        </div>
                                        <div class="late-item">
                                            <p>{{ object.full_about|safe }}</p>
                                            <div class="border-detail">
                                                <p class="post-info float-left">
                                                    <span>{{ object.created_at|date:'d M Y' }}</span>
                                                    <span>113 Comments</span>
                                                    <span>{{ object.author.first_name }} | {{ object.author.last_name }}</span>
                                                </p>
                                                <div class="btn-group">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-share"></i>
                                                        <span>Share</span>
                                                    </a>
                                                    <a href="#" class="email">
                                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                                        <span>SEN TO A FRIEND</span>
                                                    </a>
                                                    <a href="#" class="print">
                                                        <i class="zmdi zmdi-print"></i>
                                                        <span>Print</span>
                                                    </a>
                                                    <a href="#" class="print">
                                                        <i class="zmdi zmdi-print"></i>
                                                        <span>{{ object.category.title }}</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <hr>
                                        <hr>

                                        <div class="admin">
                                            <img width="10%" height="10%" style="border-radius: 5%"
                                                 src="{{ object.author.image.url }}" alt="img"
                                                 class="float-left right pr-2">
                                            <div class="info">
                                                <p>
                                                    <a href="#">
                                                        <span class="content-title">
                                                            {{ object.author.first_name }} | {{ object.author.last_name }}
                                                        </span>
                                                    </a>
                                                    <span class="">{{ object.author.job }}</span>
                                                </p>
                                                <p class="descript">
                                                    {{ object.author.about }}
                                                </p>
                                            </div>
                                        </div>

                                        <hr>
                                        <hr>

                                        <div class="related">
                                            <h2 class="title-block">Related News</h2>
                                            <div class="main-blogs">
                                                <div class="row">
                                                    {% for r_blog in object.get_related_blogs %}
                                                        <div class="col-md-4">
                                                            <div class="hover-after">
                                                                <a href="blog-detail.html">
                                                                    <img src="{{ r_blog.image.url}}" alt="img"
                                                                         class="img-fluid">
                                                                </a>
                                                            </div>
                                                            <div class="late-item">
                                                                <p class="content-title">
                                                                    <a href="blog-detail.html">{{ r_blog.title }}</a>
                                                                </p>
                                                                <p class="description">{{ r_blog.litle_about }}</p>
                                                                <span class="mr-3">{{ r_blog.created_at|date:'d M Y' }}</span>
                                                                <span>{{ r_blog.comments.count }} Comments</span>
                                                            </div>


                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div id="comment-section" class="reply late-item">
                                            <h2 class="title-block">Comments</h2>
                                            {% for comment in object.get_comments %}
                                                <div class="blog-comment" id="blog-comment">
                                                    <img style="border-radius: 10%" src="{% static 'img/blog/user1.jpg' %}" alt="img"
                                                         class="float-left right mr-3">
                                                </div>
                                                <div class="comment-content">
                                                    <p class="user-title">
                                                        <a href="#">{{ comment.name }}</a>
                                                        <span class="time">Posted on {{ comment.submitted_at }} |||

                                                        <span class="green">
                                                            <a class="text-uppercase" href="#">Reply</a>
                                                        </span>
                                                    </span>
                                                    </p>
                                                    <p class="content-comment">{{ comment.comment }}</p>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="submit-comment" id="respond">
                                            <h2 class="title-block">Submit comment</h2>
                                            <div id="commentInput">
                                                <form action="{% url 'blog:comment' pk=object.pk %}#comment-section" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="comment_parent" id="comment_parent"
                                                           value="0">
                                                    <div class="row">
                                                        <div class="form-group col col-sm-12 col-md-4 ">
                                                            <input type="text" class="inputName form-control"
                                                                   name="name" placeholder="Your Name *">
                                                        </div>
                                                        <div class="form-group col col-sm-12  col-md-4">
                                                            <input type="text" class="inputMail form-control"
                                                                   name="email" placeholder="Your E-mail *">
                                                        </div>
                                                        <div class="form-group col col-sm-12  col-md-4">
                                                            <input type="text" class="form-control" name="website"
                                                                   placeholder="Your Website">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col col-md-12">
                                                            <textarea tabindex="4"
                                                                      class="inputContent form-control grey" rows="10"
                                                                      name="comment"
                                                                      placeholder="Your Message"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="submit">
                                                        <button type="submit" class="btn btn-dark">Send Comment</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}

    <script>
        function addUrlParameter(name, value) {
            let searchParams = new URLSearchParams(window.location.search)
            if (searchParams.has(name) && searchParams.get(name) === value) {
                searchParams.delete(name)
            } else {
                searchParams.set(name, value)
            }
            window.location.search = searchParams.toString()
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
{% endblock %}