{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load my_tags %}
{% block content %}
    <div id="checkout" class="main-content">
        <div class="wrap-banner">
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ol>
                            <li>
                                <a href="{% url 'home:home' %}">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'product:list' %}">
                                    <span>All Products</span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav>

            <div id="wrapper-site">
                <div class="container">
                    <div class="row">
                        <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                            <div id="main">
                                <div class="cart-grid row">
                                    <div class="col-md-9 check-info">
                                        <div class="checkout-personal-step">
                                            <h3 class="step-title h3 info">
                                                <span class="step-number">1</span>PERSONAL INFORMATION
                                            </h3>
                                        </div>
                                        <div class="content">
                                            <ul class="nav nav-inline">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab"
                                                       href="#checkout-guest-form">
                                                        ORDER AS A GUEST
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade in active show" id="checkout-guest-form"
                                                     role="tabpanel">
                                                    <form action="#" id="customer-form" class="js-customer-form"
                                                          method="post">
                                                        {% csrf_token %}
                                                        {{ form.errors }}
                                                        <div>
                                                            <input type="hidden" name="id_customer" value="">
                                                            <div class="form-group row">
                                                                <input value="{{ profile.first_name|default:'' }} {{ profile.last_name|default:'' }}" class="form-control" name="full_name" type="text"
                                                                       placeholder="Full name">
                                                            </div>
                                                            <div class="form-group row">
                                                                <input value="{{ profile.email|default:'' }}" class="form-control" name="email" type="email"
                                                                       placeholder="Email">
                                                            </div>
                                                            <div class="form-group row">
                                                                <input value="{{ profile.phone|default:'' }}" class="form-control" name="phone" type="text"
                                                                       placeholder="Phone">
                                                            </div>
                                                            <div class="form-group row">
                                                                <input value="{{ profile.address|default:'' }}" class="form-control" name="address" type="text"
                                                                       placeholder="Address">
                                                            </div>
                                                            <div class="form-group row">
                                                                <input value="{{ profile.city|default:'' }}" class="form-control" name="city" type="text"
                                                                       placeholder="City">
                                                            </div>
                                                        </div>
                                                        <div class="clearfix">
                                                            <div class="row">
                                                                <button class="continue btn btn-primary pull-xs-right"
                                                                        type="submit">
                                                                    Continue
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="checkout-personal-step">
                                            <h3 class="step-title h3">
                                                <span class="step-number">2</span>Addresses
                                            </h3>
                                        </div>
                                        <div class="checkout-personal-step">
                                            <h3 class="step-title h3">
                                                <span class="step-number">3</span>Shipping Method
                                            </h3>
                                        </div>
                                        <div class="checkout-personal-step">
                                            <h3 class="step-title h3">
                                                <span class="step-number">4</span>Payment
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="cart-grid-right col-xs-12 col-lg-3">
                                        <div class="cart-summary">
                                            <div class="cart-detailed-totals">
                                                <div class="cart-summary-products">
                                                    <div class="summary-label">These are all about your order !</div>
                                                </div>
                                                <div class="cart-summary-line" id="cart-subtotal-products">
                                                    <span class="label js-subtotal">
                                                        Total products:
                                                    </span>
                                                    <span class="value">£{% cart_price request %}</span>
                                                </div>
                                                <div class="cart-summary-line" id="cart-subtotal-shipping">
                                                    <span class="label">
                                                        Total Shipping:
                                                    </span>
                                                    <span class="value">Free</span>
                                                    <div>
                                                        <small class="value"></small>
                                                    </div>
                                                </div>
                                                <div class="cart-summary-line cart-total">
                                                    <span class="label">Total:</span>
                                                    <span class="value">£{% cart_price request %} (tax incl.)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="block-reassurance">
                                            <ul>
                                                <li>
                                                    <div class="block-reassurance-item">
                                                        <img src="{% static 'img/product/check1.png' %}"
                                                             alt="Security policy (edit with Customer reassurance module)">
                                                        <span>Security policy (edit with Customer reassurance module)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="block-reassurance-item">
                                                        <img src="{% static 'img/product/check2.png' %}"
                                                             alt="Delivery policy (edit with Customer reassurance module)">
                                                        <span>Delivery policy (edit with Customer reassurance module)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="block-reassurance-item">
                                                        <img src="{% static 'img/product/check3.png' %}"
                                                             alt="Return policy (edit with Customer reassurance module)">
                                                        <span>Return policy (edit with Customer reassurance module)</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}